{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{titre}}</h1>
    {% for prodAct in mesProduits %}
        Produit : {{ prodAct.titre }}
        Prix: {{ prodAct.prix }}
        Nb Commandes contenant ce produit : {{prodAct.nbCommandes}}
        <br>
    {% endfor %}
{% endblock %}